/* flex */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-justify-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

/* clearfix */
.clearfix::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}

/* 单行文字省略号 */
.sle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 多行文字省略号 */
.mle {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* 文字多了自动換行 */
.break-word {
    word-break: break-all;
    word-wrap: break-word;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
	transition: all 0.2s;
}

.fade-transform-enter-form {
	opacity: 1;
	transition: all 0.2s;
	transform: translateX(-30px);
}

.fade-tansform-leave-to {
	opacity: 1;
	transition: all 0.2s;
	transform: translateX(30px);
}

/* breadcrumb-transform */
.breadcrumb-enter-active {
	transition: all 0.2s;
}
.breadcrumb-enter-from,
.breadcrumb-leave-active {
	opacity: 0;
	transform: translateX(10px);
}
